@font-face {
    font-family: "AlegreyaSans";
    src: url("./AlegreyaSansSC-Black.woff") format("woff");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#content{
    color: white;
    margin-top: 50px;
    position: relative;
    text-align: center;
    height: 100vh;
}
.restaurantName{
    width: 100%;
    font-family: "AlegreyaSans";
    color: black;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hikari{
    color: red;
}
.bannerPicContainer{
    background-color: white;
}
.homePageBannerPic{
    /* height: 100%; */
    width: 100%;
    opacity: .75;
}
.initialPageText{
    height: 300px;
    padding-top: 100px;
    font-size: 30px;
    color: white;
}
#navbar{
    font-size: 20px;
    color: white;
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
#navbar img{
    height: 50px;
}
.logo{
    width: 25%;
}
.navBarLinks{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}
.navBarButton{
    width: 25%;
    text-align: center;
    padding-top: 12px;
    transition-property: background-color;
    transition-duration: .5s;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.navBarButton:hover{
    background-color: red;
}
.bannerPhotoSection{
    height: 75vh;
    width: 100%;
    background-image: url("https://s3-media0.fl.yelpcdn.com/bphoto/xwzknj9lE5F4P3ue9QAUAg/o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.infoSectionContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 40px;
}
.infoSection{
    height: 400px;
    width: 400px;
    background-color: grey;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoSubTitle{
    font-size: 60px;
    justify-self: flex-start;
    margin-bottom: 100px;
}
