#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: blue;
    font-size: 60px;
}

img{
    height: 500px;
    width: 500px;
}

p{
    font-size: 30px;
}